body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #b8d0ff, #e2d3ff);
  background-repeat: no-repeat;
  background-attachment: fixed;
  color: white;
}

.modal {
  background-color: rgba(0, 0, 0, 0.678);
  min-height: 200px;
  height: auto;
  width: 450px;
  margin: 230px auto;
  border-radius: 30px;
  transition: 0.6s;
  box-shadow: 1px 1px 3px rgb(0, 0, 0);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.modal:hover {
  transform: scale(1.02);
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 0;
}

.input-button {
  position: relative;
  width: 80%;
  max-width: 300px;
}

#textField {
  width: 100%;
  min-height: 42px;
  font-size: 20px;
  border-radius: 13px;
  border: 1px solid rgba(0, 0, 0, 0.05);
  padding: 0 70px 0 12px;
  color: #000000;
  background-color: white;
  outline: none;
  box-sizing: border-box;
}

#signButton {
  position: absolute;
  right: 3px;
  top: 50%;
  transform: translateY(-50%);
  display: flex;
  align-items: center;
  gap: 8px;
  min-height: 36px;
  border-radius: 12px;
  padding: 8px 15px;
  background: #000;
  color: #fff;
  border: none;
  opacity: 0.5;
  cursor: pointer;
}

.signed-by,
.signature-prev {
  width: 80%;
  max-width: 300px;
  margin: 0;
  height: 0;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  opacity: 0;
}

.signature-prev {
  height: 0;
  margin: 0;
  overflow: hidden;
  transition: all 0.3s ease;
  opacity: 0;
  padding: 0 10px;
}

.signature-prev.active {
  height: 20px;
  margin: 8px 0;
  opacity: 1;
  padding: 8px;
}

.export-options {
  margin-top: 10px;
  display: flex;
  font-size: 18px;
  align-items: center;
  gap: 10px;
  flex-wrap: wrap;
}

#format {
  padding: 12px;
  border-radius: 5px;
  font-size: 14px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  color: white;
  cursor: pointer;
}

#saveButton {
  padding: 12px 18px;
  font-size: 14px;
  border-radius: 5px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  background: transparent;
  color: white;
  cursor: pointer;
  transition: 0.2s;
}

#saveButton:hover {
  background: rgba(255, 255, 255, 0.1);
}

#format option {
  background: rgba(0, 0, 0, 0.8);

}

.tabs {
  width: 80%;
  max-width: 300px;
  margin-top: 12px;
}

.tab-buttons {
  display: flex;
  gap: 8px;
}

.tab-button {
  flex: 1;
  padding: 10px 18px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.2);
  color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.5s ease-in;
}

.tab-button.active {
  background-color: rgba(255, 255, 255, 0.1);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
}

.tab-content {
  display: none;
  padding: 10px;
  background: rgb(0, 0, 0, 0.2);
  border-radius: 8px;
  margin-top: 10px;
  min-height: 0;
}

.tab-content.active {
  display: block;
}


#fontSelect {
  padding: 10px 18px;
  border: none;
  margin-top: 12px;
  border-radius: 5px;
  background: transparent;
  border: 1px solid rgba(255, 255, 255, 0.249);
  color: white;
}

#fontSelect option,
optgroup {
  background-color: rgb(42, 42, 42);
  color: white;
}